body{
    width: 1880px;;
    height: 800px;
    background-image: url(image/pexels-pixabay-461940.jpg);
    background-size: 100% auto;
}

#container{
    height: 800px;
    width: 1680px;
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 100px;
    background-color: #ffffffb7;
    border: 2px solid black;
    border-radius: 100px;
}

#header{
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 50px;
    width: 1580px;
    height: 200px;
}

#zdjecie{
    height: 200px;
    width: 395px;
    float: left;
}

#naglowek{
    height: 200px;
    width: 790px;
    float: left;
    text-align: center;
    font-size: 28px;
    font-family: "Oooh Baby", cursive;
    font-weight: 400;
    font-style: normal;
}

#linki{
    height: 200px;
    width: 395px;
    float: left;
}

#link_holder_up{
    height: 100px;
    width: 395px;
}

#link_holder_down{
    height: 98px;
    width: 393px;
    text-align: center;
    display: grid;
    place-items: center;
    font-size: 13px;
}

.link_holder_inside{
    height: 100px;
    width: 197px;
    float: left;
    display: grid;
    place-items: center;
}

#main{
    width: 1580px;
    height: 440px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    font-size: 13px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#footer{
    width: 1580px;
    height: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.image_holder{
    width: 158px;
    height: 100px;
    float: left;
}

img{
    height: 100px;
    width: 100px;
}

a{
	color:#000000;
	text-decoration: none;
}

a:hover{
	color: #000000;
	text-decoration: none;
}

a:visited{
	color: #000000;
	text-decoration: none;
}